button, button:focus, .btn:focus, .icon-sidebar, .icon-sidebar:focus {
    box-shadow: none;
}

/* .main-content {
    padding-top: 90px;
    padding-left: 20px;
} */
.flex-shrink-0{
    margin-right: 5px;
}
.text-start {
    margin-left: 5px;
}
.navbar-header{
    padding-right: 0;
}
.name-product{text-transform: capitalize;}
.help-block,.error-help-block, .ri-delete-bin-6-line{
    color: tomato;
}

.bg-blue{
    background-color: var(--primary-color)!important;
    color: #FFF!important;
}
.bg-gray{
    background-color: gray!important;
    color: #FFF!important;
}

.pagination-page{padding-top: 20px;}
.position-relative{
    position: relative;
}
.wrap-public .form-switch{
    display: flex!important;
    padding-left: 0!important;
    align-items: center;
}
.wrap-public .form-switch label{
    padding-left: 35px;
}
input:focus{
    box-shadow: none!important;
}
.form-switch .form-check-input:focus{
    /* background-image: none!important; */
    border-color:none!important
}
.w120.rounded.img-fluid{
height: 120px!important;
min-width: 120px!important;
object-fit: cover;
}








